.header, .site-header {
    display: flex;
    justify-content: space-between;
    background-color: black;
}

.logo>a>img {
    max-width: 400px;
    width: 300px;
}

.logo{
    background-image: url('/EO.png');
}

@media (max-width: 767px) {
    .title, .logo {
        padding: 1em 1em 1em 0;
    }

    .title {
        min-width: 50%;
    }

    .logo {
        max-width: 30%;
    }
}





