.footer {
    background-color: #000;
    border-top: 3px solid rgb(255, 255, 255);
    color: #ffebcd;
    display: flex;
    height: 300px;
    justify-content: space-between;
}

.footer a {
    color: #ffebcd;
}

.footer>div {
    text-align: center;
}

.footer .social {
    font-size: 2rem;
}
