$font-color: rgb(255, 255, 255);
$font-alternative-color: rgb(224, 133, 133);
$accent-color: rgb(206, 58, 58);
$background-color: #1a0a0a;
$footer-background-color: rgb(128, 20, 20);
$footer-text-color: chartreuse;

$font-body: 'Roboto', sans-serif;
$font-headings: 'Open Sans', sans-serif;

